<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PFLB_Test-API_Team_3_Testsuite">
    <listeners>
        <listener class-name="listeners.AnnotationTransformer"/>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="tests.ui.LoginTest"/>
        </classes>
    </test>
    <test name="Users Read All Tests">
        <classes>
            <class name="tests.ui.UsersReadAllTest"/>
        </classes>
    </test>
    <test name="Read User With Cars Test">
        <classes>
            <class name="tests.ui.ReadUserWithCarsTest"/>
        </classes>
    </test>
    <test name="Create User Tests">
        <classes>
            <class name="tests.ui.CreateUserTest"/>
        </classes>
    </test>
    <test name="Add Money Tests">
        <classes>
            <class name="tests.ui.AddMoneyTest"/>
        </classes>
    </test>
    <test name="Car Tests">
        <classes>
            <class name="tests.ui.CarTest"/>
        </classes>
    </test>
    <test name="Houses ReadAll Tests">
        <classes>
            <class name="tests.ui.HousesReadAllTest"/>
        </classes>
    </test>
    <test name="Houses Read By Id Tests">
        <classes>
            <class name="tests.ui.HousesReadByIdTest"/>
        </classes>
    </test>
    <test name="Create House Test">
        <classes>
            <class name="tests.ui.CreateHouseTest"/>
        </classes>
    </test>
    <test name="Settle Or Evict User Test">
        <classes>
            <class name="tests.ui.SettleOrEvictUserTest"/>
        </classes>
    </test>
</suite>
