<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PFLB_Test-API_Team_3_Testsuite"> <!-- Основной контейнер для набора тестов -->
    <listeners>
        <!-- TestListener - логирует начало/конец тестов и измеряет время выполнения -->
        <listener class-name="listeners.TestListener"/>
        <!-- AnnotationTransformer - автоматически добавляет RetryAnalyzer
          ко всем тестам для повторного запуска упавших тестов -->
        <!--        <listener class-name="listeners.AnnotationTransformer"/>-->
    </listeners>
    <test name=""> <!-- Тестовый набор 1-->
        <classes> <!-- Классы, содержащие тесты -->
            <!--            <class name="tests."/>-->
        </classes>
    </test>
    <test name=""> <!-- Тестовый набор 2-->
        <classes>
            <!--            <class name="tests."/>-->
        </classes>
    </test>
    <test name=""> <!-- Тестовый набор 3-->
        <classes>
            <!--            <class name="tests."/>-->
        </classes>
    </test>
</suite>